framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true

    default_locale: pt_BR

    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    router:
        utf8: true

when@dev:
    framework:
        router:
            strict_requirements: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
