###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.pem
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> composer ###
/composer.lock
###< composer ###

# IDE
/.idea/
/.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
